@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forgot Password Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/vendor/bootstrap3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container-fluid">
                <div class="row main-content bg-success text-center">
                    <div class="col-md-4 text-center company__info">
                        <span>Hesabınız yok mu?</span>
                        <a class="btn-register btn-sm btn-success mt-5px" href="~/Login/RegisterUser">Kayıt Olun</a>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
                        <div class="container-fluid">
                            <div class="row">
                                <h4>Parola Sıfırlama Doğrulaması</h4>
                            </div>
                            <p>Parolanız yenilenmiştir.<a href="~/login/login">Burayı</a> tıklayarak giriş yapabilirsiniz. </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/vendor/bootstrap3.3.7/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>